<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.commands">
	   <command id="edu.cmu.sei.eraces.aadl.commands.optimization" name="Optimization" defaultHandler="edu.cmu.sei.eraces.aadl.handlers.OptimizationHandler"></command>
	   
   </extension>
	
   <extension point="org.eclipse.ui.menus">
	<menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=additions">	
		<menu
               id="menu.osate"
               label="OSATE">		
			<menu id="edu.cmu.sei.eraces.aadl.menu" label="ERACES">
				<command commandId="edu.cmu.sei.eraces.aadl.commands.optimization" style="push"/>
	
			</menu>
		</menu>
	</menuContribution>
	<menuContribution allPopups="false" locationURI="popup:#TextEditorContext?after=additions">
		<menu id="edu.cmu.sei.eraces.aadl.menu" label="ERACES"/>
	</menuContribution>
	<menuContribution allPopups="false" locationURI="popup:org.osate.xtext.aadl2.ui.outline?after=additions">
		<menu id="edu.cmu.sei.eraces.aadl.menu" label="ERACES">
						<command commandId="edu.cmu.sei.eraces.aadl.commands.optimization" style="push"/>
			
		</menu>
	</menuContribution>
   </extension>

   <extension
         id="edu.cmu.sei.eraces.aadl.preferences.globvar"
         name="Optimization Global Variables"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.cmu.sei.eraces.aadl.PreferenceInitializer">
      </initializer>
   </extension>
    <extension
         id="edu.cmu.sei.eraces.aadl.preferences.subprograms"
         name="optimize Subprograms"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.cmu.sei.eraces.aadl.PreferenceInitializer">
      </initializer>
   </extension>
  
      <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.osate.internal.ui.preferences.OsatePreferencePage"
            class="edu.cmu.sei.eraces.aadl.PreferencePage"
            id="edu.cmu.sei.eraces.aadl.PreferencePage"
            name="ERACES">
      </page>
   </extension>
   <extension
         id="edu.cmu.sei.eraces.aadl.ValidationMarker"
         name="ERACES Validation Marker"
         point="org.eclipse.core.resources.markers">
             <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent
            value="true">
      </persistent>
   </extension>
   


</plugin>
